<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
	<title>IIITMK Forum</title>
	<link rel="stylesheet" type="text/css" href="../static/styles.css" />
	<link rel="icon" type="image/png" href="/static/favicon.ico">
	
</head>
<body >
	<a href="/adminLogin"><img id='logo' alt="logo" src="../static/adminlogo.jpg" height="50px" width="50px"></a>
	<div id="logo"><marquee behavior="alternate"><img id='logo' alt="logo" src="../static/LINKME-logo.jpg" height="50px" width="70px"></marquee></div>
	<div id="container">
		   <div id="picture">
			
		   	 <h1 id='title'>LiNKMe </h1>
			<h2>An Open forum to share your thoughs!!</h2>

			<div id= "loginform">
			
			<form  action="/" name='indexpage' method="POST">
						<table border="0" >
							<tr> 
								<td>
									<label>Username:</label>
									<input type="text" name="username"> <br>
								</td>
							</tr>
							<tr> 
								<td>
									<label>Password:</label>
									<input type="password" name="passwordbox"> <br>
								</td>
							</tr>
							<tr> 
								<td>
									<label>Choose Account Type:</label>
									<select name="acc_type">
									<option>Student</option>
									<option>Faculty</option>
									<option>Staff</option>
									
									</select>	
								</td>
							</tr>
							<tr> 
								<td>
			
									<input type="submit" value="Login"> 
									<input type="reset" value="Clear">
								</td>
							</tr>
			
						</table>
			
					</form>
				
	
				</div>
		
		    </div>
 
			<div id="main">
				<a href='/register'>New to LiNKMe?? Register For Free!! </a>
				<img id="image" alt="home" src="../static/crowd.jpg" >
				<h2>Indian Institute of Information Technology and Management- Kerala</h2>	
			</div>
			
</div>
	

</body>
</html>
